<?xml version="1.0" encoding="UTF-8"?>
<launch>
  <!--=================================================================================================================================================================-->

  <!-- Robot -->
  <include file="$(find anymal_coyote_sim)/launch/sim_unitree.launch">
    <arg name="extension_config_file" value="$(find anytree_simulation)/config/drs_sim_anytree.yaml"/>
  </include>

  <arg name="device" default="needle_valve" />
  <arg name="device_ID" default="0" />
  <arg name="dynamics" default="none" />
  <arg name="continuous" default="true" />

  <!--=================================================================================================================================================================-->
  <!-- Handles -->
  <group if="$(eval device == 'handle')">
    <include file="$(find manipulation_playground_articulated_devices)/devices/handle/launch/spawn_handle.launch">
        <arg name="handle_ID" value="0"/>
        <arg name="x" value="-1.0"/>
        <arg name="y" value="4.0"/>
        <arg name="z" value="0."/>
        <arg name="Y" value="3.1419"/>
        <arg name="P" value="0.0"/>
        <arg name="R" value="-1.5707"/>
        <arg name="dynamics" value="none"/>
        <arg name="continuous" value="true"/>
    </include> 
   </group>


<!-- Valves -->
  <group if="$(eval device == 'needle_valve')">
    <include file="$(find manipulation_playground_articulated_devices)/devices/needle_valve/launch/spawn_needle_valve.launch">
      <arg name="needle_valve_ID" value="$(arg device_ID)"/>
      <arg name="x" value="0.85"/>
      <arg name="y" value="0.0"/>
      <arg name="z" value="1.0"/>
      <arg name="Y" value="-1.5708"/>
      <arg name="P" value="0.0"/>
      <arg name="R" value="1.5708"/>
      <arg name="dynamics" value="$(arg dynamics)"/>
      <arg name="continuous" value="$(arg continuous)"/>
    </include>
  </group>

<!-- TODO: Fix orientation -->
  <group if="$(eval device == 'gate_valve')">
    <include file="$(find manipulation_playground_articulated_devices)/devices/PN16_gate_valve/launch/spawn_PN16_gate_valve.launch">
      <arg name="PN16_gate_valve_ID" value="0"/>
      <arg name="x" value="0.5"/>
      <arg name="y" value="-0.5"/>
      <arg name="z" value="1.0"/>
      <arg name="Y" value="0.0"/>
      <arg name="P" value="0.0"/>
      <arg name="R" value="0.0"/>
    </include>
  </group>

<!--Connect odom and exotica/world_frame-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="exotica_world_frame_broadcaster" args="0.0 0.0 0.0 0.0 0.0 0.0 odom exotica/world_frame"/>

</launch> 

