<?xml version="1.0" encoding="UTF-8"?>
<launch>

    <arg name="isSim" default="true"/>
    <arg name="base_dof" default="0" />
    <param name="base_dof" value="$(arg base_dof)" />
    <!-- Control Nodes-->
    <node name="unitree" pkg="anytree_control" type="UnitreeSim" output="screen" if="$(arg isSim)"/>
    <node name="unitree" pkg="anytree_control" type="UnitreeHw" output="screen" unless="$(arg isSim)" />
</launch>
