<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- This arg enables to choose between kinematic or dynamic planners -->
    <arg name="planner_type" default="dynamic" />
    <arg name="isSim" default="true" />
    <arg name="base_dof" default="6" />
    <param name="isSim" value="$(arg isSim)"/>
    <param name="base_dof" value="$(arg base_dof)"/>

    <!-- Control Nodes-->
    <node name="anytree_base_control" pkg="anytree_control" type="anytree_base_control.py" output="screen" />
    <node name="unitree" pkg="anytree_control" type="UnitreeSim" output="screen" />

    
    <!-- Motion Planner-->
    <group if="$(eval planner_type == 'kinematic')">
        <node name="approachtarget" pkg="anytree_motion_planner" type="approachtarget_as" output="screen" />
        <node name="grasptarget" pkg="anytree_motion_planner" type="grasptarget_as" output="screen" />
        <node name="manipulatetarget" pkg="anytree_motion_planner" type="manipulatetarget_as" output="screen" />
    </group>    

    <group if="$(eval planner_type == 'dynamic')">
        <node name="approachtarget" pkg="anytree_motion_planner" type="approachtarget_dynamic" output="screen" />
        <node name="grasptarget" pkg="anytree_motion_planner" type="grasptarget_dynamic" output="screen" />
        <node name="manipulatetarget" pkg="anytree_motion_planner" type="manipulatetarget_dynamic" output="screen" />
        <node name="retracttarget" pkg="anytree_motion_planner" type="retracttarget_dynamic" output="screen" />
    </group>    
</launch>
