<?xml version="1.0"?>
<launch>

    <arg name="blind" default="false"/>

    <include file="$(find anymal_coyote_drs)/launch/z1_robot_state_publisher.launch">

    <!--Connect odom and exotica/world_frame-->
    <node pkg="tf2_ros" type="static_transform_publisher" name="exotica_world_frame_broadcaster" args="0.0 0.0 0.0 0.0 0.0 0.0 odom exotica/world_frame"/>

    <!-- Place needle_valve relative to apriltag -->
    <group unless="$(arg blind)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="needle_valve_base_broadcaster" args="0.003 -0.147 0.025 0.0 0.0 0.0 tag_3 needle_valve/0/base"/>
    </group>

    <group if="$(arg blind)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="needle_valve_base_broadcaster" args="0.85 0.0 1.0 -1.5708 0.0 1.5708 odom needle_valve/0/base"/>
    </group>

    <node pkg="tf2_ros" type="static_transform_publisher" name="needle_valve_handle_broadcaster" args="0.0 0.0 0.071 0.0 0.0 0.0 needle_valve/0/base needle_valve/0/handle"/>

    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="needle_valve_handle_broadcaster" args="0.3 0.3 0.1 0.0 0.0 0.0 needle_valve/0/base needle_valve/0/handle"/> -->
</launch>
