<launch>
  <arg name="debug" default="false" />
  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb -ex run --args python$(env ROS_PYTHON_VERSION)" />

  <param name="robot_description" textfile="$(find anytree_description)/urdf/anytree.urdf" />
  <param name="robot_description_semantic" textfile="$(find anytree_description)/config/anytree.srdf" />
  <param name="/use_sim_time" value="false"/>
  
  <node launch-prefix="$(arg launch_prefix)" pkg="anytree_motion_planner" type="example_motion" name="test_node" output="screen" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find anytree_description)/resources/anytree_exotica.rviz"/> 

  <!-- Visualize the goal pose as a tf frame-->
  <node pkg="tf2_ros" type="static_transform_publisher" name="goal_pose_broadcaster" args="0.6 0.1 0.4 0.0 0.0 0.0 1 exotica/Frame0Bworld_frame exotica/target_frame" />
</launch>
